
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: all 0.4s ease;
    z-index: 1000;
}

/* Navbar on scroll */
nav.scrolled {
    background: #111;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

/* Logo */
.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

/* Links */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    transition: 0.3s;
}

/* Hover effect */
.nav-links a:hover {
    background: white;
    color: black;
    border-radius: 5px;
}

/* Sections */
.section {
    height: 100vh;
    padding: 120px 50px;
    background: #f4f4f4;
}

.home {
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    text-align: center;
}

.home h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

/* Responsive */
@media (max-width: 768px) {
    nav {
        padding: 15px 20px;
    }

    .nav-links {
        gap: 10px;
    }

    .home h1 {
        font-size: 32px;
    }
}
